<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Good</h1>
    <h2><%= 1 + 2000  %></h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ea perferendis blanditiis consectetur nesciunt repellendus, voluptas, quasi ut necessitatibus iste quibusdam culpa laborum! Autem voluptas sapiente rem vitae nihil eaque.</p>
</body>
</html>
